.opened-mode {
    font-weight: bold;
}

.closed-mode {
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
}

mat-panel-description{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-width: 10%;
}

.modify-button{
    float: right;
    margin: 0 2% 0 2%;
}